1. Limpieza y transformación del dataset movies_datset.csv

In [28]:
import pandas as pd
import ast
import json
peliculas = pd.read_csv('movies_dataset.csv')
peliculas.head()

C:\Users\josej\AppData\Local\Temp\ipykernel_37188\916587580.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  peliculas = pd.read_csv('C:/Users/josej/OneDrive/Escritorio/PI 1/drive-download-20240719T143323Z-001/movies_dataset.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [29]:
###Eliminacion de columnas innecesrias 

eliminar =['adult','belongs_to_collection','imdb_id','original_title','poster_path','homepage','production_countries','status','video']

peliculasdata = peliculas.drop(columns = eliminar )

peliculasdata.to_csv('movies_dataset_filtrados.csv',index=False)

In [30]:
 ### conversión de release date a datetime

movies_df = pd.read_csv('movies_dataset_filtrados.csv')

movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], errors='coerce')
### Conversión de id a un entero natural de python
peliculas = peliculas[peliculas['id'].apply(lambda x: str(x).isdigit())]
peliculas['id'] = peliculas['id'].astype(int)

In [31]:
movies_df.head()

,budget,genres,id,original_language,overview,popularity,production_companies,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,Toy Story,7.7,5415.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

In [32]:
### nueva columna para el mes de estreno
meses_espanol = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']

movies_df['release month'] = movies_df['release_date'].apply(lambda x:meses_espanol[x.month-1] if pd. notnull(x) else None)

In [33]:
### nueva columna para el dia de estreno 

dias_espanol = ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábadado','Domingo']

movies_df['release_day'] = movies_df['release_date'].apply(lambda x:dias_espanol[x.weekday()] if pd.notnull(x) else None)

In [34]:
### desanidacion y conversion de los generos en una cadena
def desanidar_generos(genres_str):
    genres_list = ast.literal_eval(genres_str)
    return ' '.join([genre['name'] for genre in genres_list])
movies_df['genres'] = movies_df['genres'].apply(desanidar_generos)

In [35]:
### Guardamos el dataset en un nuevo archivo
movies_df.to_csv('Data_transformada.csv', index=False)

In [36]:
movies_trans = pd.read_csv('Data_transformada.csv')
movies_trans.head()

C:\Users\josej\AppData\Local\Temp\ipykernel_37188\1270630401.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_trans = pd.read_csv('Data_transformada.csv')

,budget,genres,id,original_language,overview,popularity,production_companies,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count,release month,release_day
0,30000000,Animation Comedy Family,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,Toy Story,7.7,5415.0,Octubre,Lunes
1,65000000,Adventure Fantasy Family,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,Diciembre,Viernes
2,0,Romance Comedy,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,Diciembre,Viernes
3,16000000,Comedy Drama Romance,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,Diciembre,Viernes
4,0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,Febrero,Viernes

2. Limpieza y transformación del dataset credits_csv

In [50]:
### Cargar el archivo CSV en un DataFrame
credits_df = pd.read_csv('credits.csv')  

credits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [51]:
### Extracción del nombre de los actores del campo cast
def obtener_nombres_actores(cadena_cast):
    try:
        cast_list = json.loads(cadena_cast.replace("'", "\""))
        return [actor['name'] for actor in cast_list]
    except json.JSONDecodeError:
        return []

# Aplicar la función para obtener una columna con los nombres de los actores
credits_df['actores'] = credits_df['cast'].apply(obtener_nombres_actores)

### Extracción del nombre de los directores del campo crew
def obtener_nombres_directores(cadena_crew):
    try:
        crew_list = json.loads(cadena_crew.replace("'", "\""))
        return [persona['name'] for persona in crew_list if persona['job'] == 'Director']
    except json.JSONDecodeError:
        return []
credits_df['Directores'] = credits_df['crew'].apply(obtener_nombres_directores)

In [52]:
eliminar2 = ['cast', 'crew']

credits_df = credits_df.drop(columns=eliminar2)

In [53]:
### Guardamos el dataset en un nuevo archivo
credits_df.to_csv('credits_limpio.csv',index=False)

In [ ]:
###Unificamos los datasets por el id y lo guardamos 

union = pd.merge(movies_trans, credits_df, on='id', how='inner')
union.to_csv('Dataset_LimpioV.csv')

In [54]:
df = pd.read_csv('Dataset_LimpioV.csv')
df.head()

,budget,genres,id,original_language,overview,popularity,production_companies,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count,release month,release_day,actores,Directores
0,30000000,Animation Comedy Family,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,Toy Story,7.7,5415.0,Octubre,Lunes,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",[]
1,65000000,Adventure Fantasy Family,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,Diciembre,Viernes,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",['Joe Johnston']
2,0,Romance Comedy,15602,en,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,Diciembre,Viernes,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",['Howard Deutch']
3,16000000,Comedy Drama Romance,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,Diciembre,Viernes,[],['Forest Whitaker']
4,0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,Febrero,Viernes,"['Steve Martin', 'Diane Keaton', 'Martin Short...",['Charles Shyer']